<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9d7b9ea7-7a6d-4a2a-a9c6-d51f2080b722" Alias="site" Level="1">
  <Info>
    <Name>Site</Name>
    <Icon>icon-globe color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The main site node</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3fd11536-6534-461d-965c-76cf731b64cd" SortOrder="0">home</ContentType>
    <ContentType Key="1dc185b1-11e5-4aac-afc9-8a18da475b04" SortOrder="1">articleCollection</ContentType>
    <ContentType Key="6f4d3370-e6af-4e61-975d-4ab031ad512e" SortOrder="2">topSecretDocumentType</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>