<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1dc185b1-11e5-4aac-afc9-8a18da475b04" Alias="articleCollection" Level="1">
  <Info>
    <Name>Article Collection</Name>
    <Icon>icon-documents color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection of type Article</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ArticleCollection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4108f604-ef08-40e4-bdac-1b0285395c42">ArticleCollection</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ba73914f-57a3-4ecd-8a99-37215cf7058d" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>