<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba73914f-57a3-4ecd-8a99-37215cf7058d" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-article color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="2fe81dde-2357-488c-92c2-50ad206cc2bd">genericContentComposition</Composition>
      <Composition Key="1c4d0955-b806-4d18-b7bb-f8e1375f26fd">sEOComposition</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="186b8ff5-4911-4232-a8d5-5b29a8f43989">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>