<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f4d3370-e6af-4e61-975d-4ab031ad512e" Alias="topSecretDocumentType" Level="1">
  <Info>
    <Name>Top Secret Document Type</Name>
    <Icon>icon-lock color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A document type which will not be shown in the Content Delivery API</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>