<?xml version="1.0" encoding="utf-8"?>
<Content Key="82d1a853-6891-4a45-b7ca-73d251c3d335" Alias="A second example of a blog post" Level="3">
  <Info>
    <Parent Key="922e4a17-398e-4992-bc09-975ccbd8051e">Blog Posts</Parent>
    <Path>/Website/BlogPosts/ASecondExampleOfABlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-02-28T11:35:42</CreateDate>
    <NodeName Default="A second example of a blog post">
      <Name Culture="en-us">A second example of a blog post</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="186b8ff5-4911-4232-a8d5-5b29a8f43989">Article</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>