<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac31e91a-6040-4715-b026-fa870542ced6" Alias="A second example of a blog post" Level="3">
  <Info>
    <Parent Key="922e4a17-398e-4992-bc09-975ccbd8051e">Blog Posts</Parent>
    <Path>/Website/BlogPosts/ASecondExampleOfABlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-02-28T12:01:58</CreateDate>
    <NodeName Default="A second example of a blog post">
      <Name Culture="en-us">A second example of a blog post</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="186b8ff5-4911-4232-a8d5-5b29a8f43989">Article</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/92750969c55e4afe830b72dcd1ec29a9"
      },
      {
        "contentUdi": "umb://element/35f1482318564ad28a789f64f7a2b412"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
      "udi": "umb://element/92750969c55e4afe830b72dcd1ec29a9",
      "richText": {
        "markup": "<p>This is the second blog page</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "a6010033-26fb-4b10-8f10-13e6a5f148c4",
      "udi": "umb://element/35f1482318564ad28a789f64f7a2b412",
      "mediaElement": [
        {
          "key": "d3a6b3af-313f-43c4-a7e0-c3a804c7ea08",
          "mediaKey": "72c2c63d-8fbc-4a49-a28e-43f464f925be"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <metaDescription>
      <Value><![CDATA[A blog page]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Blog
Umbraco
NextJs]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[A second example blog post]]></Value>
    </metaTitle>
  </Properties>
</Content>