<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac31e91a-6040-4715-b026-fa870542ced6" Alias="A second example of a blog post" Level="3">
  <Info>
    <Parent Key="922e4a17-398e-4992-bc09-975ccbd8051e">Blog Posts</Parent>
    <Path>/Website/BlogPosts/ASecondExampleOfABlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-02-28T12:01:58</CreateDate>
    <NodeName Default="A second example of a blog post">
      <Name Culture="en-us">A second example of a blog post</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="186b8ff5-4911-4232-a8d5-5b29a8f43989">Article</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[[
  {
    "elementType": "a6010033-26fb-4b10-8f10-13e6a5f148c4",
    "key": "8e6b9a15-48dc-4c28-a302-f36d8874e0fd",
    "value": {
      "mediaElement": [
        {
          "key": "63f1d574-ae7f-4e7b-bac8-8798d9c91acd",
          "mediaKey": "8a9c9387-eb54-4001-8e37-e75bc5f0d988"
        }
      ]
    }
  },
  {
    "elementType": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
    "key": "1058d7f9-89e8-4f4b-9da5-cc52c0acf947",
    "value": {
      "richText": {
        "markup": "<h3>This is another blog page</h3>\n<p>It has extra&nbsp;information about setting up Umbraco websites</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  }
]]]></Value>
    </content>
    <metaDescription>
      <Value><![CDATA[A blog page]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Blog
Umbraco
NextJs]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[A second example blog post]]></Value>
    </metaTitle>
  </Properties>
</Content>