<?xml version="1.0" encoding="utf-8"?>
<Content Key="5733d772-ac12-4f67-b1d0-959154715d03" Alias="An example blog post" Level="3">
  <Info>
    <Parent Key="922e4a17-398e-4992-bc09-975ccbd8051e">Blog Posts</Parent>
    <Path>/Website/BlogPosts/AnExampleBlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-02-28T11:35:33</CreateDate>
    <NodeName Default="An example blog post">
      <Name Culture="en-us">An example blog post</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="186b8ff5-4911-4232-a8d5-5b29a8f43989">Article</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/613036859203426584ef81620586baf4"
      },
      {
        "contentUdi": "umb://element/4d2ceba7ae7c4895b95a56da68915c5e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
      "udi": "umb://element/613036859203426584ef81620586baf4",
      "richText": {
        "markup": "<p>This is the first blog page</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "a6010033-26fb-4b10-8f10-13e6a5f148c4",
      "udi": "umb://element/4d2ceba7ae7c4895b95a56da68915c5e",
      "mediaElement": [
        {
          "key": "d3a6b3af-313f-43c4-a7e0-c3a804c7ea08",
          "mediaKey": "72c2c63d-8fbc-4a49-a28e-43f464f925be"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <metaDescription>
      <Value><![CDATA[A blog page]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[An example blog post]]></Value>
    </metaTitle>
  </Properties>
</Content>