<?xml version="1.0" encoding="utf-8"?>
<Content Key="5733d772-ac12-4f67-b1d0-959154715d03" Alias="An example blog post" Level="3">
  <Info>
    <Parent Key="922e4a17-398e-4992-bc09-975ccbd8051e">Blog Posts</Parent>
    <Path>/Website/BlogPosts/AnExampleBlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-02-28T11:35:33</CreateDate>
    <NodeName Default="An example blog post">
      <Name Culture="en-us">An example blog post</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="186b8ff5-4911-4232-a8d5-5b29a8f43989">Article</Template>
  </Info>
  <Properties />
</Content>