<?xml version="1.0" encoding="utf-8"?>
<Content Key="922e4a17-398e-4992-bc09-975ccbd8051e" Alias="Blog Posts" Level="2">
  <Info>
    <Parent Key="c59a3527-d045-4ef3-826b-e969aeb4245f">Website</Parent>
    <Path>/Website/BlogPosts</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCollection</ContentType>
    <CreateDate>2024-02-28T11:35:12</CreateDate>
    <NodeName Default="Blog Posts">
      <Name Culture="en-us">Blog Posts</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="4108f604-ef08-40e4-bdac-1b0285395c42">ArticleCollection</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f71cf1791e0c421487e1085d9cd5c370"
      },
      {
        "contentUdi": "umb://element/b3180cfa540446d9adf9dc511fde2ba3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
      "udi": "umb://element/f71cf1791e0c421487e1085d9cd5c370",
      "richText": {
        "markup": "<p>This is the website blog page</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "a6010033-26fb-4b10-8f10-13e6a5f148c4",
      "udi": "umb://element/b3180cfa540446d9adf9dc511fde2ba3",
      "mediaElement": [
        {
          "key": "d3a6b3af-313f-43c4-a7e0-c3a804c7ea08",
          "mediaKey": "72c2c63d-8fbc-4a49-a28e-43f464f925be"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <metaDescription>
      <Value><![CDATA[This is a sample blog section]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[All blog pages]]></Value>
    </metaTitle>
  </Properties>
</Content>