<?xml version="1.0" encoding="utf-8"?>
<Content Key="922e4a17-398e-4992-bc09-975ccbd8051e" Alias="Blog Posts" Level="2">
  <Info>
    <Parent Key="c59a3527-d045-4ef3-826b-e969aeb4245f">Website</Parent>
    <Path>/Website/BlogPosts</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCollection</ContentType>
    <CreateDate>2024-02-28T11:35:12</CreateDate>
    <NodeName Default="Blog Posts">
      <Name Culture="en-us">Blog Posts</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="4108f604-ef08-40e4-bdac-1b0285395c42">ArticleCollection</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[[
  {
    "elementType": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
    "key": "5f225410-4ec0-47c1-bdcf-20c6e0c7827c",
    "value": {
      "richText": {
        "markup": "<h3>This is a blog collection</h3>\n<p>It contains all of our blog pages</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  }
]]]></Value>
    </content>
    <metaDescription>
      <Value><![CDATA[This is a sample blog section]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[All blog pages]]></Value>
    </metaTitle>
  </Properties>
</Content>