<?xml version="1.0" encoding="utf-8"?>
<Content Key="c59a3527-d045-4ef3-826b-e969aeb4245f" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2024-02-28T11:34:47</CreateDate>
    <NodeName Default="Website">
      <Name Culture="en-us">Website</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>