<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8cafda6-6f5b-4025-942f-222d1174262f" Alias="Home" Level="2">
  <Info>
    <Parent Key="c59a3527-d045-4ef3-826b-e969aeb4245f">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-02-28T11:35:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16009333-fbc5-47e2-95a1-727ed1155700">Home</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>