<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8cafda6-6f5b-4025-942f-222d1174262f" Alias="Home" Level="2">
  <Info>
    <Parent Key="c59a3527-d045-4ef3-826b-e969aeb4245f">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-02-28T11:35:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16009333-fbc5-47e2-95a1-727ed1155700">Home</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/51bfb38865064bffb7aa3393ce236394"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
      "udi": "umb://element/51bfb38865064bffb7aa3393ce236394",
      "richText": {
        "markup": "<p>This is the website homepage. These are the pages available in this website:</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </contentBlocks>
    <metaDescription>
      <Value><![CDATA[This is the homepage description text for the next.js Umbraco implementation]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[NextJs
Umbraco]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[A homepage, built with NextJS and Umbraco]]></Value>
    </metaTitle>
  </Properties>
</Content>