<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8cafda6-6f5b-4025-942f-222d1174262f" Alias="Home" Level="2">
  <Info>
    <Parent Key="c59a3527-d045-4ef3-826b-e969aeb4245f">Website</Parent>
    <Path>/Website/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-02-28T11:35:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16009333-fbc5-47e2-95a1-727ed1155700">Home</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[[
  {
    "elementType": "a6010033-26fb-4b10-8f10-13e6a5f148c4",
    "key": "a7b45ad4-407e-411c-bb69-cbcc5d583025",
    "value": {
      "mediaElement": [
        {
          "key": "51cb423a-1ca3-4e35-bfd8-b4927a43d669",
          "mediaKey": "72c2c63d-8fbc-4a49-a28e-43f464f925be"
        }
      ]
    }
  },
  {
    "elementType": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
    "key": "09c50f9b-676e-4177-8190-07f1fe6d8c04",
    "value": {
      "richText": {
        "markup": "<h3>This is a section header</h3>\n<p>&nbsp;</p>\n<p>This is some rich text</p>\n<p>&nbsp;</p>\n<p><strong>It has <em>various styles</em></strong></p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  }
]]]></Value>
    </content>
    <metaDescription>
      <Value><![CDATA[A homepage, built with NextJS and Umbraco]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[NextJs
Umbraco]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[A homepage, built with NextJS and Umbraco]]></Value>
    </metaTitle>
  </Properties>
</Content>