<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0e01b01-0faa-4840-b3e2-ee39ee23b193" Alias="Super Secure Document" Level="2">
  <Info>
    <Parent Key="c59a3527-d045-4ef3-826b-e969aeb4245f">Website</Parent>
    <Path>/Website/SuperSecureDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>topSecretDocumentType</ContentType>
    <CreateDate>2024-02-28T15:31:05</CreateDate>
    <NodeName Default="Super Secure Document" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>