<?xml version="1.0" encoding="utf-8"?>
<Content Key="d43cd991-f94a-4013-9299-859e3eba8548" Alias="test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test</Path>
    <Trashed Parent="c59a3527-d045-4ef3-826b-e969aeb4245f">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-02-28T15:45:51</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16009333-fbc5-47e2-95a1-727ed1155700">Home</Template>
  </Info>
  <Properties>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <metaDescription>
      <Value><![CDATA[test]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[test]]></Value>
    </metaTitle>
  </Properties>
</Content>