<?xml version="1.0" encoding="utf-8"?>
<Media Key="a151da50-4fd3-4b14-8b34-5b8b9f432075" Alias="Umbraco Logo White 05" Level="2">
  <Info>
    <Parent Key="0bd33e04-b395-46e0-aa05-1a4d156eb223">Umbraco Sample Logos</Parent>
    <Path>/UmbracoSampleLogos/UmbracoLogoWhite05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-28T11:58:23</CreateDate>
    <NodeName Default="Umbraco Logo White 05" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k1nfdiot/umbraco_logo_white_05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>