<?xml version="1.0" encoding="utf-8"?>
<Media Key="deddc4c7-9d78-4df8-94f8-7441d6de7e4e" Alias="Umbraco Logo Blue" Level="2">
  <Info>
    <Parent Key="0bd33e04-b395-46e0-aa05-1a4d156eb223">Umbraco Sample Logos</Parent>
    <Path>/UmbracoSampleLogos/UmbracoLogoBlue</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-02-28T11:58:50</CreateDate>
    <NodeName Default="Umbraco Logo Blue" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/41cn1xty/umbraco_logo_blue.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>