<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e77f8f1-60f8-4575-b1d8-897520f3e04d" Alias="SEO Composition - Meta Keywords - Repeatable textstrings" Level="1">
  <Info>
    <Name>SEO Composition - Meta Keywords - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>