<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c8990b8-dea8-4b9a-8c77-be5a9372dc41" Alias="Article - Related Content - Content Picker" Level="1">
  <Info>
    <Name>Article - Related Content - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": null
}]]></Config>
</DataType>