<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f776503b-1de9-472a-9c6d-694c1065748a" Alias="Generic Content Composition - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>Generic Content Composition - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValueType": "STRING"
}]]></Config>
</DataType>