<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f776503b-1de9-472a-9c6d-694c1065748a" Alias="Generic Content Composition - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>Generic Content Composition - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "c3f7cb1c-292b-4e7c-ad03-8e28e679883d",
      "value": {
        "nameTemplate": "RTE Element {{ $index }}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    },
    {
      "key": "a6010033-26fb-4b10-8f10-13e6a5f148c4",
      "value": {
        "nameTemplate": "Media Item {{ $index }}",
        "overlaySize": "medium",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "0"
}]]></Config>
</DataType>